.pagesBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pages {
    margin: 7px;
    color: white;
    word-wrap: break-word;
}

.selectedPage {
    margin: 7px;
    color: yellow;
    font-weight: bold;
    word-wrap: break-word;
}