.app-wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c ';
  /*это схема размещения наших элементов*/
  grid-template-rows: 60px;
  grid-template-columns: 2fr 10fr;
  /*на экране 12fr: т.е у нас здесь 2 колонки: на 2 и на 10*/
  grid-gap: 10px;
  /*расстояние между элементами*/
}

.app-wrapper-content {
  grid-area: c;
  background-color: #002639;
}

